.github {
  size: 50px;
  margin-top: 10px;
  padding: 10px;
  background-color: #0e76a8;
  color: white;
  border-radius: 40px;
}

.github:hover {
  background-color: black;
}

.medium {
  size: 50px;
  margin-top: 10px;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 40px;
  margin-left: 10px;
}

.medium:hover {
  background-color: black;
}

.web {
  size: 50px;
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 40px;
  margin-left: 10px;
}

.web:hover {
  background-color: gray;
}
